*.class
*.settings
*.project
*.classpath
# Package Files #
*.jar
*.war
*.ear
*.log
*.pid
*.pmd
target
/target
logs
/logs
*.idea
*.iml
/.idea
/bin/
.metadata
.idea/
target/
.settings/
.classpath
*.iml
svn/
*.svn

